<div id="admin-portal-container">
<form class="flatpack-form">
  <h3>后台管理</h3>
  <%= link_to "首页图片管理", cover_images_path, class: 'button' %>
  <%= link_to "页面管理列表", pages_path, class: 'button' %>
  <%= link_to "新增文章页面", new_page_path, class: 'button' %>
</form>
</div>