/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Utility classes
 */

.f-left {
  float: left; 
}

.f-right {
  float: right; 
}


/* Layout classes
 */

body {
  font-family: "Microsoft Yahei", Arial, sans-serif;
  padding: 0; 
  margin: 0; 
}

.container {
  /*width: 1000px; */
  margin-left: auto;
  margin-right: auto; 
}

#logo {
  display: block;
  margin: 0 auto; 
  margin-top: 24px; 
}

#main {
  position: relative; 
  top: -5px; 
  background-color: #f4f1e6;
}

#navbar {
  height: 52px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  top: -26px;
  width: 1000px; 
  margin: 0 auto; 
}

#navbar .nav-bg {
  float: left; 
  height: 52px;
  display: inline-block; 
}

#navbar .nav-bg#nav-bg-1 {
  width: 145px;
  background-color: #9f9a88;
}

#navbar .nav-bg#nav-bg-2 {
  width: 0;
  height: 0;
  border-left: solid #9f9a88 26px;
  border-bottom: solid #9f9a88 26px;
  border-top: solid #aca692 26px;
  border-right: solid #aca692 26px;
}

#navbar .nav-bg#nav-bg-3 {
  width: 803px;
  background-color: #aca692;
}

#navbar #nav-bg-wrapper {
  font-size: 0; 
  display: block; 
  position: absolute; 
  top: 0; 
  left: 0; 
}

#navbar #nav-items-wrapper {
  position: absolute; 
  top: 0; 
  left 0;
  z-index: 1; 
}

#navbar .nav-item-cell {
  width: 200px; 
  font-size: 16px; 
  text-align: center;
  padding-top: 16px; 
  color: white;
}

#navbar .nav-item-cell a {
  text-decoration: none;
  color: white; 
}

#content {
  width: 1000px; 
  margin: 0 auto; 
}

#joinus {
  width: 1000px; 
  margin: 0 auto; 
  height: 70px; 
  position: relative; 
  top: 35px; 
}

#joinus #joinus-bg {
  background-color: #aca692;
  border-radius: 5px; 
  width: 1000px; 
  height: 70px;
  overflow: hidden;
}

#joinus #joinus-person {
  float: left; 
  display: inline; 
  position: relative; 
  top: -20px; 
  margin-left: 50px; 
}

#joinus #joinus-content {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 1000px; 
}

#joinus .joinus-item {
  width: 170px; 
  height: 80px; 
  font-size: 18px; 
  color: white; 
  padding-top: 25px; 
  text-align: center; 
}

#joinus .joinus-item a {
  text-decoration: none;
  color: white; 
}

#copyright {
  margin-top: 60px; 
  width: 1000px; 
  margin-left: auto; 
  margin-right: auto; 
  color: #888888; 
}

#copyright-p {
  text-align: center; 
  font-size: 16px; 
}
