
.body
	{
	clear: both;
	margin: 0 auto;
	width: 70%;
	}


/* === Content Area === */
.mainContent
	{
	overflow: hidden;
	line-height: 25px;
	margin-top: 4%;
	margin-bottom: 2%;
	}

.content
	{
	width: 80%;
	float: left;
	margin-left:10%;
	margin-right:10%;
	}

.topcontent
	{
	background-color: #FFF;
	padding: 3% 5%;
	margin: 30px 0px 30px 0px;
	background-color:#d9dbda;
	}


/* === Contact Form === */
.flatpack-form
	{
	width:460px;
	margin:0px auto;
	text-align:left;
	padding:0px;
	background-color:#ffffff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	}


/* === Contact Form Header === */
h3
	{
	text-align:center;
	color:#ffffff;
	font-size:140%;
	padding-top:30px;
	height:55px;
	background-image: url(../images/01.png);
	background-repeat:no-repeat;
	background-position:50% 90%;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	}


/* === Input Elements === */
input
	{
	width: 78%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left:10%;
	margin-right:10%;
	height:40px;
	margin-top:20px;
	padding-left:10px;
	border-style:none;
	font-size:100%;
	outline: none;
	background-color:#f5f7f6;
	}

::-webkit-input-placeholder
	{
	font-size:100%;
	font-family: 'Lato', sans-serif;
	}

:-moz-placeholder
	{
	font-size:100%;
	font-family: 'Lato', sans-serif;
	}

::-moz-placeholder
	{
	font-size:100%;
	font-family: 'Lato', sans-serif;
	}

:-ms-input-placeholder
	{
	font-size:100%;
	font-family: 'Lato', sans-serif;
	}


.flatpack-form input:focus
	{
	background-color:#ebebeb;
	}


/* === Submit Button === */
.flatpack-form button[type="submit"], a.button
	{
		display: inline-block;
    cursor:pointer;
    width:80%;
	height:40px;
	margin-left:10%;
    border:none;
    color:#fff;
	margin-top:30px;
	margin-bottom:40px;
	font-size:120%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}

a.button {
	text-align: center;
	line-height: 40px;
}


/* === Checkbox === */
input[type=checkbox]
	{
	visibility: hidden;
	}


.check
	{
	width: 20px;
	height: 20px;
	background: #f5f7f6;
	margin-left:10%;
	margin-top:25px;
	position: relative;
	float:left;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	}

.check label
	{
	cursor: pointer;
	position: absolute;
	width: 10px;
	height: 10px;
	left: 1px;
	top: 1px;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	}

.check label:after
	{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 14px;
	height: 14px;
	top: 2px;
	left: 2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	}

.check label:hover::after
	{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	}

.check input[type=checkbox]:checked + label:after
	{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	}

div .check span
	{
	text-align:left;
	color:#7c7d7c;
	font-size:100%;
	width:200px;
	margin-top:-3px;
	float:left;
	margin-left:30px;
	}


/* === Paragraph & Links === */
p
	{
	width:460px;
	text-align:left;
	color:#7c7d7c;
	font-size:100%;
	margin:0px auto;
	padding:0px;
	}

a
	{
	text-decoration:none;
	font-weight:600;
	}


/* === From this code on, concerns responsive. I only overrided the necessary styles to make it responsive ===*/
/* Large desktop */
@media (min-width: 1200px) {  }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }

/* Landscape phone to portrait tablet */
@media (max-width: 767px)
{
.body
{
	clear: both;
	margin: 0 auto;
	width: 90%;
	font-size: 90%;
	}

.mainContent
	{
	overflow: hidden;
	line-height: 25px;
	}

.content
	{
	margin:0px auto;
	width: 100%;
	}

.flatpack-form
	{
	width:80%;
	padding:0px;
	}


/* === Input Elements === */
label
	{
	font-size:90%;
	display:block;
	}

input
	{
	font-size:90%;
	padding-left:2%;
	}


/* === Text Area === */
.flatpack-form textarea
	{
	font-size:90%;
	padding-left:2%;
	}

/* === Checkbox === */
input[type=checkbox]
	{
	visibility: hidden;
	}

.check
	{
	width: 15px;
	height: 15px;
	background: #f5f7f6;
	margin-left:10%;
	margin-top:25px;
	position: relative;
	float:left;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	}

.check label
	{
	cursor: pointer;
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	}

.check label:after
	{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	}

.check label:hover::after
	{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	}

.check input[type=checkbox]:checked + label:after
	{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	}

div .check span
	{
	text-align:left;
	color:#7c7d7c;
	font-size:90%;
	margin-top:-5px;
	float:left;
	margin-left:20px;
	}

/* === Headers and Paragraph === */
h3
	{
	font-size:120%;
	}

h4
	{
	font-size:110%;
	}

p
	{
	width:80%;
	font-size:90%;
	}

/* === Submit Button === */
.flatpack-form button[type="submit"], a.button
	{
	font-size:100%;
	}
}
 /* Landscape phones and down */
@media (max-width : 480px)

{
.body
{
	clear: both;
	margin: 0 auto;
	width: 90%;
	font-size: 90%;
	}

.mainContent
	{
	overflow: hidden;
	line-height: 25px;
	}

.content
	{
	margin:0px auto;
	width: 100%;
	}

.flatpack-form
	{
	width:90%;
	padding:0px;
	}


/* === Input Elements === */
label
	{
	font-size:90%;
	display:block;
	}

input
	{
	font-size:90%;
	padding-left:5%;
	}

/* === Checkbox === */
input[type=checkbox]
	{
	visibility: hidden;
	}

.check
	{
	width: 15px;
	height: 15px;
	background: #f5f7f6;
	margin-left:10%;
	margin-top:25px;
	position: relative;
	float:left;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	}

.check label
	{
	cursor: pointer;
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	}

.check label:after
	{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	}

.check label:hover::after
	{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	}

.check input[type=checkbox]:checked + label:after
	{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	}

div .check span
	{
	text-align:left;
	color:#7c7d7c;
	margin-top:-5px;
	float:left;
	margin-left:15px;
	}

/* === Text Area === */
.flatpack-form textarea
	{
	font-size:90%;
	padding-left:5%;
	}


/* === Headers and Paragraph === */
h3
	{
	font-size:120%;
	}

h4
	{
	font-size:110%;
	}

p
	{
	font-size:85%;
	width:90%;
	}



/* === Submit Button === */
.flatpack-form button[type="submit"], a.button
	{
	font-size:100%;
	}
}


@media (max-width : 250px)

{
.body
{
	clear: both;
	margin: 0 auto;
	width: 100%;
	font-size: 90%;
	}

.mainContent
	{
	overflow: hidden;
	line-height: 25px;
	}

.content
	{
	margin:0px auto;
	width: 100%;
	}

.flatpack-form
	{
	width:100%;
	padding:0px;
	}


/* === Input Elements === */
label
	{
	font-size:90%;
	display:block;
	}

input
	{
	font-size:90%;
	padding-left:5%;
	}

	/* === Checkbox === */
input[type=checkbox]
	{
	visibility: hidden;
	}

.check
	{
	width: 15px;
	height: 15px;
	background: #f5f7f6;
	margin-left:10%;
	margin-top:25px;
	position: relative;
	float:left;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	}

.check label
	{
	cursor: pointer;
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	}

.check label:after
	{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	}

.check label:hover::after
	{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	}

.check input[type=checkbox]:checked + label:after
	{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	}

div .check span
	{
	text-align:left;
	color:#7c7d7c;
	font-size:80%;
	margin-top:-5px;
	float:left;
	margin-left:20px;
	}

/* === Text Area === */
.flatpack-form textarea
	{
	font-size:90%;
	padding-left:5%;
	}


/* === Headers and Paragraph === */
h3
	{
	font-size:120%;
	}

h4
	{
	font-size:110%;
	}

p
	{
	font-size:85%;
	width:100%;
	}


/* === Submit Button === */
.flatpack-form button[type="submit"], a.button
	{
	font-size:100%;
	}
}
